# --- Python & Sistema ---
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.venv
venv/
.DS_Store
.vscode/
.idea/

# --- Datos y Archivos Pesados (Ignorar en todas las carpetas) ---
# Ignora carpetas de datos crudos o procesados donde sea que estén
soccernet_raw/
soccernet_dataset/
soccernet/
football-field-detection-*/

# Ignora archivos grandes específicos
*.mp4
*.mov
*.avi
*.zip
*.tar.gz
*.pt
*.pth

# --- Resultados de Entrenamiento ---
runs/
wandb/
entrenamiento_cancha/

# --- Específicos de tu módulo (por seguridad extra) ---
modules/homografy/soccernet_raw/
modules/homografy/soccernet_dataset/