######################################### 
# HOMO

# Modelos entrenados
/models/

# Resultados de inferencia
/outputs/

# Gráficos de entrenamiento
/logs/

# Plots de evaluación
/results/

# Datos pre-procesados 
modules/homografia_cancha/dataset/train_masks/
modules/homografia_cancha/dataset/val_masks/
#########################################

modules/homografia_cancha/wandb
modules/homografia_cancha/checkpoints


__pycache__/
*.py[codz]

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage

.ipynb_checkpoints

.env
.venv
venv/
env/

.DS_Store

modules/homografia_cancha/dataset/

# .vscode/
# .idea/