# ---- Experiment output ----

# Trained models
/models/
modules/pitch_calibration/checkpoints

# Inference results
/outputs/
modules/pitch_calibration/results

# Training logs and plots
/logs/
/results/
modules/pitch_calibration/wandb
modules/pitch_calibration/debug_heatmaps

# Datasets and precomputed heatmaps
modules/pitch_calibration/dataset/


# ---- Python ----
__pycache__/
*.py[codz]

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage

.ipynb_checkpoints

.env
.venv
venv/
env/


# ---- Media and archives ----
*.mp4
*.mkv
*.zip


# ---- OS ----
.DS_Store
